# Exploración de datos

Usando dataset 01desastres_crudo.csv

Objetivos:
Cargar dataset, shape, info, describe, columns, nulls

In [3]:
import numpy as np
import pandas as pd

## Cargar datos

In [4]:
df = pd.read_csv('../../Data/01CrudoNoEditar/01desastres_crudo.csv', encoding='latin-1', delimiter=';', engine='python')
# encoding='utf8' da problemas
# dejar engine='python' para evitar advertencias

### Muestras head, slice 500:520 y tail

In [5]:
df.head(5)

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN

In [6]:
df[500:520]

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
500,1969-9006-BEN,1969,9006,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
501,1969-9006-BFA,1969,9006,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
502,1969-9006-CPV,1969,9006,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
503,1969-9006-GMB,1969,9006,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,200.0,1596.0,"12,53467526",NaN,NaN,NaN,NaN
504,1969-9006-GNB,1969,9006,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
505,1969-0004-BFA,1969,4,NaN,Natural,Biological,Epidemic,Viral disease,NaN,"Meningitis, measles",...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
506,1969-0099-BFA,1969,99,NaN,Natural,Biological,Epidemic,Viral disease,NaN,Yellow fever,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
507,1969-0065-BGD,1969,65,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,NaN,NaN,8329.0,66448.0,"12,53467526",NaN,NaN,NaN,NaN
508,1969-0048-BOL,1969,48,NaN,Natural,Biological,Epidemic,Viral disease,NaN,Bolivian haemorrhagic fever,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
509,1969-0108-BOL,1969,108,NaN,Natural,Biological,Epidemic,Viral disease,NaN,Polio,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
510,1969-0057-BRA,1969,57,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,...,NaN,NaN,NaN,5770.0,46032.0,"12,53467526",NaN,NaN,NaN,NaN
511,1969-0082-CHN,1969,82,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
512,1969-0066-CHN,1969,66,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
513,1969-0110-COL,1969,110,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,500.0,3989.0,"12,53467526",NaN,NaN,NaN,NaN
514,1969-0103-CRI,1969,103,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,4000.0,31911.0,"12,53467526",NaN,NaN,NaN,NaN
515,1969-0112-CYP,1969,112,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,798.0,"12,53467526",NaN,NaN,NaN,NaN
516,1969-0096-DZA,1969,96,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,10000.0,79779.0,"12,53467526",NaN,NaN,NaN,NaN
517,1969-0068-ECU,1969,68,NaN,Natural,Biological,Epidemic,Viral disease,NaN,Equine encephalitis,...,NaN,NaN,NaN,NaN,NaN,"12,53467526",NaN,NaN,NaN,NaN
518,1969-0061-ETH,1969,61,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,320.0,2553.0,"12,53467526",NaN,NaN,NaN,NaN
519,1969-9009-ETH,1969,9009,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,1000.0,7978.0,"12,53467526",NaN,NaN,NaN,NaN

In [7]:
df.tail(5)

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
16631,2023-0110-ZMB,2023,110,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1;2,3430,65234;65235;65236,"Lusaka (Adm1). Mazabuka, Monze, Namwala (Adm2)."
16632,2023-0068-ZMB,2023,68,EP-2023-000013,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3428;3429;3430;3433,NaN,"Eastern, Luapula, Lusaka, Southern (Adm1)."
16633,2023-0095-ZWE,2023,95,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical cyclone 'Freddy',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16634,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16635,2023-0140-SSD,2023,140,EP-2023-000039,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,37021,NaN,Upper Nile (Adm1).

## shape, info, dtypes

In [8]:
df.shape
# Resultado: 16636 filas y 50 columnas)

(16636, 50)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16636 entries, 0 to 16635
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dis No                                     16636 non-null  object
 1   Year                                       16636 non-null  int64
 2   Seq                                        16636 non-null  int64
 3   Glide                                      1736 non-null   object
 4   Disaster Group                             16636 non-null  object
 5   Disaster Subgroup                          16636 non-null  object
 6   Disaster Type                              16636 non-null  object
 7   Disaster Subtype                           13313 non-null  object
 8   Disaster Subsubtype                        1117 non-null   object
 9   Event Name                                 3969 non-null   object
 10  Country                                    16636 non-null  object
 11  ISO                                        16636 non-null  object
 12  Region                                     16636 non-null  object
 13  Continent                                  16636 non-null  object
 14  Location                                   14825 non-null  object
 15  Origin                                     4085 non-null   object
 16  Associated Dis                             3593 non-null   object
 17  Associated Dis2                            763 non-null    object
 18  OFDA Response                              1716 non-null   object
 19  Appeal                                     2559 non-null   object
 20  Declaration                                3343 non-null   object
 21  AID Contribution ('000 US$)                776 non-null    float64
 22  Dis Mag Value                              5064 non-null   float64
 23  Dis Mag Scale                              15416 non-null  object
 24  Latitude                                   2775 non-null   object
 25  Longitude                                  2775 non-null   object
 26  Local Time                                 1156 non-null   object
 27  River Basin                                1336 non-null   object
 28  Start Year                                 16636 non-null  int64
 29  Start Month                                16241 non-null  float64
 30  Start Day                                  13021 non-null  float64
 31  End Year                                   16636 non-null  int64
 32  End Month                                  15936 non-null  float64
 33  End Day                                    13105 non-null  float64
 34  Total Deaths                               11838 non-null  float64
 35  No Injured                                 4147 non-null   float64
 36  No Affected                                9673 non-null   float64
 37  No Homeless                                2470 non-null   float64
 38  Total Affected                             12143 non-null  float64
 39  Reconstruction Costs ('000 US$)            38 non-null     float64
 40  Reconstruction Costs, Adjusted ('000 US$)  36 non-null     float64
 41  Insured Damages ('000 US$)                 1109 non-null   float64
 42  Insured Damages, Adjusted ('000 US$)       1109 non-null   float64
 43  Total Damages ('000 US$)                   5384 non-null   float64
 44  Total Damages, Adjusted ('000 US$)         5366 non-null   float64
 45  CPI                                        16530 non-null  object
 46  Adm Level                                  8475 non-null   object
 47  Admin1 Code                                5030 non-null   object
 48  Admin2 Code                                4248 non-null   object
 49  Geo Locations                              8475 non-null   object
dtypes: float64(17), int64(4), object(29)
memory usage: 6.3+ MB

In [10]:
df.dtypes

Dis No                                        object
Year                                           int64
Seq                                            int64
Glide                                         object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
Disaster Subsubtype                           object
Event Name                                    object
Country                                       object
ISO                                           object
Region                                        object
Continent                                     object
Location                                      object
Origin                                        object
Associated Dis                                object
Associated Dis2                               object
OFDA Response                                 object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Dis Mag Value                                float64
Dis Mag Scale                                 object
Latitude                                      object
Longitude                                     object
Local Time                                    object
River Basin                                   object
Start Year                                     int64
Start Month                                  float64
Start Day                                    float64
End Year                                       int64
End Month                                    float64
End Day                                      float64
Total Deaths                                 float64
No Injured                                   float64
No Affected                                  float64
No Homeless                                  float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damages ('000 US$)                   float64
Insured Damages, Adjusted ('000 US$)         float64
Total Damages ('000 US$)                     float64
Total Damages, Adjusted ('000 US$)           float64
CPI                                           object
Adm Level                                     object
Admin1 Code                                   object
Admin2 Code                                   object
Geo Locations                                 object
dtype: object

## Columnas

In [11]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'AID Contribution ('000 US$)', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

### Columnas con valores numéricos: 21

Year                                           int64, 
Seq                                            int64, 
AID Contribution ('000 US$)                  float64, 
Dis Mag Value                                float64, 
Year                                         int64, 
Start Month                                  float64, 
Start Day                                    float64, 
End Year                                       int64, 
End Month                                    float64, 
End Day                                      float64, 
Total Deaths                                 float64, 
No Injured                                   float64, 
No Affected                                  float64, 
No Homeless                                  float64, 
Total Affected                               float64, 
Reconstruction Costs ('000 US$)              float64, 
Reconstruction Costs, Adjusted ('000 US$)    float64, 
Insured Damages ('000 US$)                   float64, 
Insured Damages, Adjusted ('000 US$)         float64, 
Total Damages ('000 US$)                     float64, 
Total Damages, Adjusted ('000 US$)           float64

### Columnas con variables categóricas: 25

Dis No, Glide, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subtype, Disaster Subsubtype, Event Name, Country, ISO, Region, Continent, Location, Origin, Associated Dis, Associated Dis2, OFDA Response, Appeal, Declaration, Dis Mag Scale, Latitude, Longitude, Local Time, River Basin

## Estadísticas básicas

.describe

In [12]:
df.describe(include='all')

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
count,16636,16636.000000,16636.000000,1736,16636,16636,16636,13313,1117,3969,...,3.600000e+01,1.109000e+03,1.109000e+03,5.384000e+03,5.366000e+03,16530,8475,5030,4248,8475
unique,16636,NaN,NaN,1200,1,6,15,28,10,1617,...,NaN,NaN,NaN,NaN,NaN,114,3,3762,3689,6857
top,1900-9002-CPV,NaN,NaN,CW-2012-000006,Natural,Hydrological,Flood,Riverine flood,Tornado,Cholera,...,NaN,NaN,NaN,NaN,NaN,"61,46318826",1,925,23632,Administrative unit not available (Adm1).
freq,1,NaN,NaN,29,16636,6612,5808,2657,295,501,...,NaN,NaN,NaN,NaN,NaN,532,4227,56,10,96
mean,NaN,1997.838363,724.950228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.276917e+06,9.096904e+05,1.248945e+06,7.948709e+05,1.256786e+06,NaN,NaN,NaN,NaN,NaN
std,NaN,20.353457,1940.995621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.519583e+06,3.711396e+06,4.750374e+06,5.028260e+06,7.008455e+06,NaN,NaN,NaN,NaN,NaN
min,NaN,1900.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.260000e+02,3.400000e+01,4.600000e+01,2.000000e+00,2.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,NaN,1990.000000,95.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.637500e+04,5.000000e+04,9.145200e+04,1.000000e+04,1.814000e+04,NaN,NaN,NaN,NaN,NaN
50%,NaN,2002.000000,274.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.262855e+05,1.650000e+05,2.549260e+05,6.255000e+04,1.270930e+05,NaN,NaN,NaN,NaN,NaN
75%,NaN,2012.000000,495.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.134250e+06,5.000000e+05,8.050520e+05,3.500000e+05,6.262512e+05,NaN,NaN,NaN,NaN,NaN
max,NaN,2023.000000,9881.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.392238e+07,6.000000e+07,8.991316e+07,2.100000e+08,2.732184e+08,NaN,NaN,NaN,NaN,NaN

## Valores faltantes

In [13]:
df.isnull().sum()

Dis No                                           0
Year                                             0
Seq                                              0
Glide                                        14900
Disaster Group                                   0
Disaster Subgroup                                0
Disaster Type                                    0
Disaster Subtype                              3323
Disaster Subsubtype                          15519
Event Name                                   12667
Country                                          0
ISO                                              0
Region                                           0
Continent                                        0
Location                                      1811
Origin                                       12551
Associated Dis                               13043
Associated Dis2                              15873
OFDA Response                                14920
Appeal                                       14077
Declaration                                  13293
AID Contribution ('000 US$)                  15860
Dis Mag Value                                11572
Dis Mag Scale                                 1220
Latitude                                     13861
Longitude                                    13861
Local Time                                   15480
River Basin                                  15300
Start Year                                       0
Start Month                                    395
Start Day                                     3615
End Year                                         0
End Month                                      700
End Day                                       3531
Total Deaths                                  4798
No Injured                                   12489
No Affected                                   6963
No Homeless                                  14166
Total Affected                                4493
Reconstruction Costs ('000 US$)              16598
Reconstruction Costs, Adjusted ('000 US$)    16600
Insured Damages ('000 US$)                   15527
Insured Damages, Adjusted ('000 US$)         15527
Total Damages ('000 US$)                     11252
Total Damages, Adjusted ('000 US$)           11270
CPI                                            106
Adm Level                                     8161
Admin1 Code                                  11606
Admin2 Code                                  12388
Geo Locations                                 8161
dtype: int64

In [14]:
df.isnull()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,False,False,False,True,False,False,False,False,True,True,...,True,True,True,True,True,False,True,True,True,True
1,False,False,False,True,False,False,False,False,True,True,...,True,True,True,True,True,False,True,True,True,True
2,False,False,False,True,False,False,False,False,True,True,...,True,True,True,False,False,False,True,True,True,True
3,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,False,True,True,True,True
4,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16631,False,False,False,True,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
16632,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
16633,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
16634,False,False,False,True,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
16635,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

## Renombrar columnas

In [21]:
# df.rename(columns={"Reconstruction Costs ('000 US$)": "Reconstruction Costs", "Reconstruction Costs, Adjusted ('000 US$)": "Reconstruction Costs Adj", "Insured Damages ('000 US$)": "Insured Damages", "Insured Damages, Adjusted ('000 US$)": "Insured Damages, Adj", "Total Damages ('000 US$)": "Total Damages", "Total Damages, Adjusted ('000 US$)": "Total Damages, Adj"})
# df
# Generó error: las columnas se agrupan en una sola

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16631,2023-0110-ZMB,2023,110,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1;2,3430,65234;65235;65236,"Lusaka (Adm1). Mazabuka, Monze, Namwala (Adm2)."
16632,2023-0068-ZMB,2023,68,EP-2023-000013,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3428;3429;3430;3433,NaN,"Eastern, Luapula, Lusaka, Southern (Adm1)."
16633,2023-0095-ZWE,2023,95,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical cyclone 'Freddy',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16634,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16635,2023-0140-SSD,2023,140,EP-2023-000039,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,...,NaN,NaN,NaN,NaN,NaN,NaN,1,37021,NaN,Upper Nile (Adm1).

In [20]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'AID Contribution ('000 US$)', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [ ]:
df['Year'].plot(kind='box')

In [22]:
df['AID Contribution ('000 US$)'].plot()

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2274092468.py, line 1)