In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_csv('../../Data/03Limpio/03desastreslimpio.csv')
df.head(2)

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Affected,Total Damages Adj
0,1900-9002-CPV,1900,9002,Climatological,Drought,Drought,Cabo Verde,CPV,Western Africa,Africa,...,NaN,1900,0,0,1900,0,0,11000,0,0
1,1900-9001-IND,1900,9001,Climatological,Drought,Drought,India,IND,Southern Asia,Asia,...,NaN,1900,0,0,1900,0,0,1250000,0,0

In [3]:
filter = df['Disaster Type'] == 'Earthquake'
df_earthquake = df[filter]
df_earthquake.head(2)

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Affected,Total Damages Adj
2,1902-0012-GTM,1902,12,Geophysical,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,-91,1902,4,18,1902,4,18,2000,0,843726
9,1905-0003-IND,1905,3,Geophysical,Earthquake,Ground movement,India,IND,Southern Asia,Asia,...,76.16,1905,4,4,1905,4,4,20000,0,812477

In [4]:
df_earthquake[['Latitude', 'Longitude']].isnull().sum()

Latitude     50
Longitude    50
dtype: int64

In [5]:
filter = df_earthquake['Latitude'].isnull() | df_earthquake['Longitude'].isnull()

# Filtramos el dataframe para obtener solo las filas con valores nan en esas columnas
df_earthquake_nan= df_earthquake[filter]
df_earthquake_nan[['Longitude','Latitude','Location', 'Country']].head(50)

,Longitude,Latitude,Location,Country
93,NaN,NaN,Plovdiv,Bulgaria
147,NaN,NaN,"Southern China, Yunnan",China
282,NaN,NaN,NaN,Chile
720,NaN,NaN,Camaron area,Cuba
790,NaN,NaN,East Timor,Indonesia
865,NaN,NaN,NaN,Romania
935,NaN,NaN,NaN,Romania
965,NaN,NaN,NaN,Romania
1030,NaN,NaN,NaN,Romania
1031,NaN,NaN,NaN,Romania
1045,NaN,NaN,NaN,Iran (Islamic Republic of)
1106,NaN,NaN,Hawai,United States of America (the)
1213,NaN,NaN,"Onagawa, Honshu Island",Japan
1216,NaN,NaN,Hawaii,United States of America (the)
1229,NaN,NaN,Nationwide,Philippines (the)
1703,NaN,NaN,Friuli,Italy
1924,NaN,NaN,Beni (North Kivu province),Congo (the Democratic Republic of the)
2718,NaN,NaN,Ternate (Moluccas),Indonesia
2874,NaN,NaN,"Avellino, Potenza",Italy
3614,NaN,NaN,Taipai,Taiwan (Province of China)
3629,NaN,NaN,Eastern Venezuela,Venezuela (Bolivarian Republic of)
4046,NaN,NaN,Shufu area,China
4790,NaN,NaN,Moyo area,Uganda
7092,NaN,NaN,Kayseri,Turkey
7210,NaN,NaN,Marmaris,Turkey
13902,NaN,NaN,Yangbi (Yunnan province),China
13903,NaN,NaN,Xinjiang region,China
13938,NaN,NaN,"Huehuetenango, Quetzaltenango, Quiche, San Mar...",Guatemala
14183,NaN,NaN,Surigao city,Philippines (the)
14292,NaN,NaN,"Casamicciola Terme, Lacco Ameno (Ischia Isl.),...",Italy
14302,NaN,NaN,"Karamyk, Jekendi, Kara-Teyit, Chuluk, Shibee v...",Kyrgyzstan
14369,NaN,NaN,"Atsuma village, Abira, Sapporo (Hokkaido)",Japan
14719,NaN,NaN,Bodrum,Turkey
15020,NaN,NaN,Mila province,Algeria
15101,NaN,NaN,"Chuxiong Yi Autonomous Prefecture, Yunnan Prov...",China
15103,NaN,NaN,Jiangcheng Hani and Yi Autonomous County (Yunn...,China
15138,NaN,NaN,"Lijiang, Ninglang Yi, Yulong Naxi (Yunnan)",China
15269,NaN,NaN,Auvergne-Rhone-Alpes region,France
15635,NaN,NaN,Selayar Islands Regency (South Sulawesi Provin...,Indonesia
15660,NaN,NaN,"Esfahan, Kohgiluyeh and Boyer-Ahmad provinces",Iran (Islamic Republic of)
15711,NaN,NaN,Piura region,Peru
15738,NaN,NaN,Maluku Province,Indonesia
16146,NaN,NaN,Tadjikobod district (Douchanbe region),Tajikistan
16263,NaN,NaN,Ljubinje and Capljina,Bosnia and Herzegovina
16315,NaN,NaN,"Mentawai Islands Regency, (West Sumatra Province)",Indonesia
16327,NaN,NaN,Papua,Indonesia
16490,NaN,NaN,Lakki Marwat District (southern Khyber Pakhtun...,Pakistan
16586,NaN,NaN,Khoy City (West Azerbaijan Province),Iran (Islamic Republic of)
16611,NaN,NaN,Northwest,Syrian Arab Republic
16617,NaN,NaN,Yesilyurt District (Malatya province),Turkey

In [6]:
address = 'Atacama, Chile'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

-27.5571783 -70.0156882

In [7]:
for i, row in df_earthquake_nan.iterrows():
    if pd.isnull(row['Location']):
        location = geolocator.geocode(row['Country'])
    else:
        location = geolocator.geocode(row['Location'])
    if location:
        df_earthquake_nan.loc[i, 'Latitude'] = location.latitude
        df_earthquake_nan.loc[i, 'Longitude'] = location.longitude

In [8]:
df_earthquake_nan[['Latitude', 'Longitude']].isnull().sum()

Latitude     14
Longitude    14
dtype: int64

In [9]:
df_earthquake_nan[['Latitude', 'Longitude']].head(50)

        Latitude   Longitude
93     42.141854    24.74993
147    27.281937  100.849778
282   -31.761336   -71.31877
720    40.438671    -3.67614
790    -8.744317  126.063482
865    45.985213   24.685923
935    45.985213   24.685923
965    45.985213   24.685923
1030   45.985213   24.685923
1031   45.985213   24.685923
1045   32.647531   54.564352
1106   19.593801  -155.42837
1213         NaN         NaN
1216   19.593801  -155.42837
1229   51.538246   -1.776962
1703  -31.442787  -64.198345
1924         NaN         NaN
2718   -3.269905   126.00704
2874   41.088792   15.596681
3614    25.03752   121.56368
3629   14.644719  121.088394
4046         NaN         NaN
4790    3.669152    31.70809
7092   38.658223   35.554637
7210   36.852255   28.274266
13902  25.673455   99.957079
13903    23.8672     109.052
13938        NaN         NaN
14183   9.790503   125.49357
14292        NaN         NaN
14302        NaN         NaN
14369        NaN         NaN
14719  37.034399   27.430651
15020  36.250214    6.165216
15101  25.432036  101.704785
15103  22.586893  101.861588
15138        NaN         NaN
15269  45.173671    5.734425
15635        NaN         NaN
15660        NaN         NaN
15711  -5.197138  -80.626724
15738  -3.694344  128.182613
16146        NaN         NaN
16263        NaN         NaN
16315  -1.358782   98.895005
16327  -5.681607  144.248908
16490        NaN         NaN
16586  38.550434    44.95354
16611   6.377525   10.386417
16617        NaN         NaN

In [10]:
address = 'Honshu Island, Japan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

37.490012 139.8356621412412

In [11]:
address = 'Beni, North Kivu, Congo'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

0.47606519999999997 29.189300190040722

In [12]:
address = 'Shufu, China'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.3742218 75.859333

In [13]:
address = 'Huehuetenango, Guatemala'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

15.6634185 -91.5839796

In [14]:
address = 'Casamicciola Terme, Italy'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

40.7473561 13.9075118

In [15]:
address = 'Karamyk, Kyrgyzstan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.4886544 71.7951348

In [16]:
address = 'Sapporo hokkaido, Japan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

43.061936 141.3542924

In [17]:
address = 'Lijiang Yunnan, china'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

26.8595868 100.2249797

In [18]:
address = 'Auvergne Alpes, France'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

44.5008175 5.1583463

In [19]:
address = 'South Sulawesi, Indonesia'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

-3.6446718 119.9471906

In [20]:
address = 'Esfahan, Iran'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

32.6707877 51.6650002

In [21]:
address = 'Dushanbe region, Tayikistan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

38.0906775 70.0090908

In [22]:
address = 'Ljubinje, Bosnia Herzegovina'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

42.9509792 18.0897048

In [23]:
address = 'Lakki Marwat, Pakistan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

32.6056744 70.9113526

In [24]:
address = 'yesilyurt, Turkey'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.7460409 37.0437522